<!DOCTYPE html>
<html>
    <head>
        <title>Menu with links</title>
        <link rel="stylesheet" type="text/css"  href="/static/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext" media="all">
    </head>
    <body>
        <h1>Application Process</h1><br>
        <div id=content-wrapper>
            <br>
            <p><a href="/mentors">Mentors and schools</a></p>
            <p><a href="/all-school">All school</a></p>
            <p><a href="/mentors-by-country">Mentors by country</a></p>
            <p><a href="/contacts">Contacts</a></p>
            <p><a href="/applicants">Applicants</a></p>
            <p><a href="/applicants-and-mentors">Applicants and mentors</a></p>
            <p><a href="/applicants-and-schools">Applicants and schools</a></p>
            <br>
        </div>

    </body>
</html>